/* Ensure html and body take full width and height */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevent any overflow */
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column; /* Stack header, content, and footer vertically */
}


/* General Reset */
html, body, button, p, h1, h2, h3, h4, h5, h6, input::placeholder {
  font-family: 'Poppins', sans-serif !important;

}

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif !important;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Ensures content takes up available space */
}

.App-header, .App-content, .footer {
  width: 100%;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Typography */
h1 {
  font-size: 2.5rem;
  margin-bottom: 0.75rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  color: #222;
}

p {
  font-weight: 400;
}

.subtitle {
  margin-top: 0;
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.6;
  color: #777;
}

/* Header Section */

.header-wrap {
  max-width: 925px;
}

.header-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 30px;
  margin-top: 20px;
  display: flex; /* Enables flexbox */
  flex-direction: column; /* Aligns items vertically */
  justify-content: center; /* Centers items vertically */
  align-items: center; /* Centers items horizontally */
  text-align: center; /* Centers text inside the elements */
  min-height: 200px; /* Adjust height as needed for vertical centering */
}

.header-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

/* Form Container */
.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 625px;
  margin: 0 auto;
}

.form-container input,
.form-container button {
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.form-container input {
  border: 1px solid #ccc;
  border-radius: 8px 0 0 8px;
  width: 100%;
  max-width: 525px;
  height: 40px;
}

.form-container button {
  background-color: #222;
  color: white;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
  height: 40px;
  width: 280px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container input:focus {
  outline: none;
  border: 1px solid #222;
  transition: border 0.3s ease;
}

.form-container button:hover {
  background-color: #333;
}

.form-container button:disabled {
  background-color: #eee;
  color: #6b6b6b;
  cursor: not-allowed;
  border: 1px solid #ccc;
}

.form-container button:disabled:hover {
  background-color: #eee;
}

/* Ingredient Suggestions */
.ingredient-suggestions {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
  border: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
  box-sizing: border-box;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.ingredient-suggestions li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: left;
}

.ingredient-suggestions li:hover {
  background-color: #f0f0f0;
}

.selected {
  background-color: #e0e0e0;
}

.selected-ingredients-container {
  margin-top: 20px;
  text-align: left;
  padding: 10px;
}

.selected-ingredients-container ul {
  list-style: none;
  padding: 0;
}

.selected-ingredients-container li {
  display: inline-block;
  background-color: #f2f2f2;
  padding: 8px;
  margin: 5px;
  border-radius: 3px;
  font-size: 14px;
  margin-right: 10px;
}

/* Divider Styling */
.divider {
  height: 1px;
  background-color: #ddd;
  margin: 0px 0 -13px 0;
  width: 100%;
}


/* Recipes Grid Styling */
.recipes-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.recipe-card {
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
}

.recipe-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.recipe-card h3 {
 
  color: #222;
    margin-top: 8px;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
}
/* Custom button styles */
button.cta {
  background-color: #24975a;  /* Custom background color */
  color: #fff;  /* Text color */
  padding: 10px 20px;  /* Add some padding for better spacing */
  font-size: 16px;  /* Font size for the text */
  border-radius: 8px;  /* Rounded corners */
  border: 1px solid #24975a;  /* Border matching the background color */
  text-align: center;  /* Center text inside the button */
  text-decoration: none;  /* Ensure no underline */
  display: inline-block;  /* Makes the button behave like a link */
  transition: background-color 0.3s ease, transform 0.3s ease;  /* Smooth hover effect */
}

/* Styled as a text link */
button.cta {
  background: none;  /* No background */
  color: #222;  /* Text color */
  font-size: 16px;  /* Font size for the text */
  text-decoration: underline;  /* Underline the text like a link */
  padding: 0;  /* No padding */
  border: none;  /* No border */
  display: inline;  /* Makes it inline like a link */
  transition: color 0.3s ease;  /* Smooth color change on hover */
}

button.cta:hover {
  background-color:transparent;
  color: #777;  /* Change text color on hover */
  cursor:pointer;
}

button.cta:disabled {
  color: #ccc;  /* Disabled text color */
  cursor: not-allowed;  /* Change cursor to not-allowed */
  text-decoration: none;  /* Remove underline when disabled */
}

/* Responsive Grid Adjustments */
@media (max-width: 1200px) {
  .recipes-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .recipes-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .recipes-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .recipes-grid {
    grid-template-columns: 1fr;
  }
}


button:disabled:hover {
  background-color: #ccc;
}

.error {
  color: red;
  font-size: 14px;
}


.stars {
  display: flex;
  justify-content: center;  /* Align stars to the center */
  gap: 5px;  /* Add consistent spacing between the stars */
}

.stars .filled {
  color: #FFE896;  /* Filled stars color */
}

.stars .empty {
  color:#cdcdcd;  /* Outlined stars color */
}

.slogan-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f4e5d4;
  padding: 8px 0;
  z-index: 1000;
  margin-bottom: 35px;
}

.slogan-container h5 {
  display: inline-block;
  margin: 0;
  padding: 0 20px; /* Add some spacing between the duplicate text */
  animation: scrollText 70s linear infinite; /* Slower scrolling speed */
  white-space: nowrap;
  font-weight:600;
}

/* Duplicating the text to make it scroll seamlessly */
.slogan-container h5:after {
  content: attr(data-text); /* Duplicate the text */
  padding-left: 10px; /* Add space between the original and duplicate text */
}

/* Keyframes to scroll the text horizontally */
@keyframes scrollText {
  0% {
    transform: translateX(0); /* Start from the container's left edge */
  }
  100% {
    transform: translateX(-100%); /* Scroll completely to the left */
  }
}

.ingredient-item {
  display: flex;
  align-items: center;  /* Vertically align the items */
  margin: 5px 0;  /* Add some spacing between items */
}

.remove-btn {
  background: none;  /* Remove background */
  border: none;  /* Remove border */
  color: #6d6d6d;  /* Set color for the '×' icon */
  font-size: 14px;  /* Adjust the size of the icon */
  cursor: pointer;  /* Change cursor to pointer */
  padding: 0;  /* Remove padding */
  margin-left: 10px;  /* Space between the ingredient text and the button */
  transition: color 0.3s ease;  /* Optional: smooth transition for color */
}

.remove-btn:hover {
  color: #6d6d6d;  /* Change color on hover */
  background-color:none !important;
}

button:hover {
  background-color:none !important;
}

/* Footer */

.footer {
  padding: 20px;
  color: #222;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ddd;
  z-index: -10;
}

.footer-content {
  display: flex;
  justify-content: space-between; /* Align text and Instagram link on opposite sides */
  align-items: center;
}

.footer p {
  margin: 0;
}

.footer a, .footer a:hover {
  color: #222;
}

.recipe-card h3 {
  display: -webkit-box;  /* Creates a flexible box for text */
  -webkit-box-orient: vertical;  /* Set the direction of the box to be vertical */
  -webkit-line-clamp: 1;  /* Limit to 2 lines */
  overflow: hidden;  /* Hide the overflowing content */
  text-overflow: ellipsis;  /* Add ellipsis (…) at the end of the text */
  font-size: 18px;  /* Adjust font size if needed */
  line-height: 1.5;  /* Adjust line height for better readability */
  margin: 0;  /* Remove default margin */
}

.logo {
  display: flex;
  align-items: center; /* Vertically center the contents */
  justify-content: center; /* Horizontally center the contents */
  margin: 0 auto; /* Ensure it's horizontally centered on the page */
  width: 100%; /* Take up the full width */
}

